@media screen and (min-width: 769px) {
  .page__main--has-sidebar {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%; }
  .page__sidebar {
    width: 23.72881%;
    float: right;
    margin-right: 0; }
    .page__sidebar .sidebar__widget {
      margin-bottom: 18px;
      padding-bottom: 18px;
      border-bottom: 1px solid #cccccc; }
      .page__sidebar .sidebar__widget .widget__title {
        display: block;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 18px; }
      .page__sidebar .sidebar__widget:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0; }
    .page__sidebar .widget__logos a {
      display: block; }
    .page__sidebar .widget__logos > * {
      margin-bottom: 18px; }
      .page__sidebar .widget__logos > *:last-child {
        margin-bottom: 0; }
    .page__sidebar .widget__logos img {
      display: block;
      width: 100%;
      height: auto; } }

@media screen and (max-width: 768px) {
  .page__sidebar {
    margin-top: 36px; } }
