@import "_settings";
@import "../bower/susy/sass/_susy.scss";

@include breakpoint($bp-m, null) {
  .page__main--has-sidebar {
    @include span(9 of 12);
  }

  .page__sidebar {
    @include span(3 of 12 last);

    .sidebar__widget {
      margin-bottom: $dist;
      padding-bottom: $dist;
      border-bottom: 1px solid $border-color;

      .sidebar-widget__title {
        display: block;
        font-family: $ff-h;
        font-weight: $fw-h-bold;
        font-size: $fs-h4;
        margin-bottom: $dist/2;
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

      .sidebar-widget__logos {
        a {
          display: block;
        }

        & > * {
          margin-bottom: $dist/2;

          &:last-child {
            margin-bottom: 0;
          }
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
  }
}

@include breakpoint(null, $bp-m) {
  .page__sidebar {
    margin-top: $dist;
  }
}