@import 'compass/css3';
@import '../../mysite/scss/vendor/_fontawesome-variables';
@import '../../mysite/scss/_mixins';
@import '../../mysite/scss/_variables';
@import '../../mysite/scss/_extends';

.page__sidebar {
  .sidebar-widget {
    &:not(:last-of-type) {
      margin-bottom: $dist/2;
      padding-bottom: $dist/2;
      border-bottom: 1px solid $border-color;
    }

    a {
      color: $fc;
      text-decoration: none;

      &:hover {
        color: $ac;
        text-decoration: underline;
      }
    }

    .sidebar-widget__title {
      display: block;
      font-family: $ff-headline;
      font-weight: $fw-headline-bold;
      font-size: $fs-h4;
      margin-bottom: $dist/2;
    }

    .global-contact-details {
      margin: 0;
      padding: 0;
      font-size: $fs;

      ul {
        margin: 0;
      }

      .global-contact-details__address {
        a {
          display: none;
        }
      }
    }

    .sidebar-widget__logos {
      a {
        display: block;
      }

      & > * {
        margin-bottom: $dist/2;

        &:last-child {
          margin-bottom: 0.5em;
        }
      }

      img {
        @include resp-img();
      }
    }
  }
}